{% extends 'base.html.twig' %}

{% block body %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-row">
                        <div class="section-title">
                            <h2 class="title">New Comment</h2>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="has-error">
                                {{ form_errors(form) }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_widget(
                                        form.content,
                                        {'attr': {'class': 'input', 'palceholder': 'Comment'}}) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_row(form.save, {'attr': {'class': 'primary-button'}}) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}
